[user]
	email = johnrichardmolina@gmail.com
	name = John

[core]
	editor = nvim
	excludesFile = ~/.gitignore_global

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[rerere]
	enabled = true

[fetch]
	prune = true

[diff]
	colorMoved = default

[merge]
	conflictstyle = zdiff3

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
